@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: 'Rubik';
    src: url(../fonts/Rubik.ttf);
}

@font-face {
    font-family: 'Ruberoid';
    src: url(../fonts/ruberoid-extra-bold.otf);
}

@font-face {
    font-family: 'Crimson Text';
    src: url(../fonts/CrimsonText.ttf);
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}